/* formattazione base pagina  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* colore sfondo body  */

body {
    background-color: #F6F8F9;
    font-family: Tahoma;
}

/* header  */

header {
    background-color: white;
    padding: 10px;
    height: 70px;
    font-size: 20px;
}

/* stile logo  */

.logo {

    display: inline-block;
    vertical-align: middle;
}

.scritta-logo {
    display: inline-block;
    vertical-align: middle;
}

/* main  */

main {
    padding-top: 50px;
}

/* primo contenitore principale */

.main-container-top {
    height: 60px;
    width: 80%;
    background-color: white;
    margin: auto;
    padding: 20px 0 15px 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* stile buttons  */

.bottone-stile {
    font-family: Tahoma;
    height: 30px;
    border-radius: 5px;
}

#bottone-task {
    background-color: #47ADF1;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border:none;
    font-family: Tahoma;
}

#bottone-section {
    background-color: white;
    color:#D1D6DA;
    width: 100px;
    border: 1px solid #D3D8DC;
}

/* secondo contenitore principale */

.main-container-bottom {
    height: 600px;
    width: 80%;
    background-color: white;
    color: #444851;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 5px;
    padding: 40px 0 15px 50px;
}

ul {
    list-style: none;
    margin-bottom: 35px;
}

li {
    margin-bottom: 20px;
}

/* stile entities  */

.simbolo {
    border-radius: 50%;
    padding: 2px 4px;
    font-size: 8px;
}

.spunta {
    color: lightgreen;
    border: 1px solid lightgreen;
}

.cross-mark {
    color: red;
    border: 1px solid red;
}

/* stile etichette  */

.etichette {
    font-size: 10px;
    color: white;
    width: 55px;
    height: 20px;
    border-radius: 9px;
    display: inline-block;
    padding: 4px;
    text-align: center;
}

/* colori etichette  */

.editorial {
    background-color: #47ADF1;
}

.goals {
    background-color: #9C72E4;
}

.recruiting {
    background-color: #64C0A9;
}

.mobile {
    background-color: #F29E33;
}

.website {
    background-color: #D863A1;
}

.sales {
    background-color: #B2CA2A;
}